@model Features

@{
    ViewData["Title"] = "Add a new feature";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Feature</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="FeaturePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group" style="margin:10px">
                        <label asp-for="FeaturePictureURL" class="control-label"></label>
                        <input asp-for="FeaturePictureURL" class="form-control" />
                        <span asp-validation-for="FeaturePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin:10px">
                        <label asp-for="FeatureName" class="control-label"></label>
                        <input asp-for="FeatureName" class="form-control" />
                        <span asp-validation-for="FeatureName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin:10px">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-outline-secondary" asp-action="Index" style="margin-right:320px"><i class="bi bi-binoculars"></i>Show All</a>
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" style="margin:20px" />

                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('FeaturePicturePreview');
            output.src = $("#FeaturePictureURL").val();
        })

        $("#FeaturePictureURL").on("change", function () {
            var output = document.getElementById('FeaturePicturePreview');
            output.src = $(this).val();
        })
    </script>
}
